<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="mainController">
    <head>
        <title>{{::appTitle}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <link rel="stylesheet" href="style/bootstrap.min.css">
        <style>
            body {
                padding-left: 15px;
                padding-right: 15px;
            }
            
            .vertical-center {
                height:100%;
                width:100%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <h2 class="jumbotron vertical-center">{{::appTitle}}</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-if="config.available">
                        <span>{{config.data.configType}}</span><br>
                        <span>{{config.data.storageStatus}}</span><br>
                        <span>{{config.data.databaseStatus}}</span>
                    </div>
                    <div ng-if="!config.available">                
                        <div ng-if="config.data !== undefined && config.data.configType !== 'undefined'">
                            <span>Server Error</span><br>
                            <span>Storage: {{config.data.storageStatus}}</span><br>
                            <span>Database {{config.data.databaseStatus}}</span>
                        </div>                
                        <span ng-if="config.data.configType === 'undefined'">Server not configured yet</span>
                    </div>
                </div>
            </div>
            <br>
            <ul class="nav nav-pills">                
                <li ng-class="{active: $route.current.activetab == 'session'}"><a href="#/session">Sessions</a></li>
                <li ng-class="{active: $route.current.activetab == 'config'}"><a href="#/config">Configuration</a></li>
            </ul>
            
            <div ng-view></div>
        
        </div>
        
        <script src="app/libs/jquery-2.1.4.min.js"></script>
        <script src="app/libs/bootstrap.min.js"></script>
        <script src="app/libs/angular.min.js"></script>
        <script src="app/libs/angular-route.min.js"></script>

        <script src="app/modules/mainApp.js"></script>
        <script src="app/services/configService.js"></script>
        <script src="app/services/sessionService.js"></script>
        <script src="app/controllers/mainController.js"></script>
        <script src="app/controllers/configController.js"></script>
        <script src="app/controllers/sessionController.js"></script>
        <script src="app/modules/routeConfig.js"></script>
    </body>
</html>
