<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">{{session.id}}
        <a href="#" ng-click="remove()" class="btn btn-danger btn-xs pull-right">Delete Session</a>
    </div>
    <div class="panel-body grey-body">
        <div class="row">
            <div class="col-md-3">
                <span>Last update: {{session.progressLastModify | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                <br>
                <span>Status: {{status}}</span><br><br>
                <div ng-if="session.status===STATUS_COMPLETED"><a href="#" class="btn btn-success">Download</a></div> 
                <div ng-if="session.status===STATUS_READY"><a href="#" class="btn btn-warning" ng-click="burn()">Burn Video</a></div>
                <div ng-if="session.status===STATUS_PROCESSING"><a href="#" class="btn btn-danger">Cancel</a></div>
            </div>
            
            <div class="col-md-3" ng-if="videoFile.length == 0">
                <span>Upload a video file</span>
                <input type="file" name="file" onchange="angular.element(this).scope().uploadVideo(this.files)"/>        
            </div>
            <div class="col-md-3" ng-if="videoFile.length > 0">
                <span>Video source: {{videoFile}}</span>
            </div>
            
            <div class="col-md-3" ng-if="subtitleFile.length == 0">
                <span>Upload a subtitle file</span>
                <input type="file" name="file" onchange="angular.element(this).scope().uploadSubtitle(this.files)"/>        
            </div>
            <div class="col-md-3" ng-if="subtitleFile.length > 0">
                <span>Subtitle source: {{subtitleFile}}</span>
            </div>
            
            <div class="col-md-3">
                <span>Resize the video</span><br>
                <span>Width:</span><input type="number" ng-model="resize.widthPercentage"><br>
                <span>Height:</span><input type="number" ng-model="resize.heightPercentage"><br>
                <a href="#" class="btn btn-default" ng-click="resizeVideo()">Apply</a>
            </div>
        </div>
    </div>
</div>
